<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<h1>
		{% if current_user.is_authenticated %}
		Hi {{current_user.username }}
		{% endif %}

	</h1>

	<h1>Upload new File</h1>

	<form action="/upload" method="post" enctype="multipart/form-data" >
		<p><input type="file" name="file">
		<input type="submit" value="Upload">
	</form>
	
	{% for img in imglist %}
	<a href="{{url_for('test')}}"><img src="{{url_for('static',filename=img)}}" /></a>
	{% endfor %}

	<form action='welcome'>
		<a href="{{ url_for('logout')}}">Log Out</a>

	</form>
	
	
</body>
</html>