<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Link</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Exo|Indie+Flower|Nova+Flat|Shadows+Into+Light" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/link.css')}}">

	<style type="text/css">
	

	h1{
		font-size: 'Indie Flower', cursive;
	}
	</style>

</head>
<body>


<br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('welcome')}}">IMAGE STORE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('link')}}">Link</a></li>
      </ul>
      
     <!--  <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Sign Up</a></li>
               <li><a href="#">Sign In</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="container">
<h1>Image Source</h1>
<hr>

<br>
<div class="row">
  <div class="col-sm-3">
  	<div class="caption">
  		<h4>Artist: </h4>
  		<h4>ジャン・ポポ</h4>
  		<a href="https://www.pixiv.net/member.php?id=455626">More Works...</a>
  	</div>
  </div>
  <div class="col-sm-6">
      <a href="#">
      <img src="{{url_for('static',filename='background/47390939_p0.jpg')}}" class="img-responsive">
      </a> 
      <div class="caption">
        <h3>海辺の遺跡</h3>
        <p>遺跡の奥には薬調合などに使える植物が沢山自生しているらしいです(´ω｀)</p>
        <br>
  	  </div>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
      <a href="#">
      <img src="{{url_for('static',filename='background/55562470_p0_master1200.jpg')}}" class="img-responsive" >
      </a> 
      <div class="caption">
        <h3>海岸の町</h3>
        <p>初級冒険者が集まる町らしいです！
			他、ラフ風景絵などなど</p>
		<br>
  	  </div>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
      <a href="#">
      <img src="{{url_for('static',filename='background/56050852_p0.jpg')}}" class="img-responsive" >
      </a> 
      <div class="caption">
        <h3>砂漠の街</h3>
        <p>塩、金、宝石などの交易が行われ、多くのキャラバンが集う街だとか</p>
  	  </div>
  </div>
  <div class="col-sm-3"></div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


</body>
</html>