<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMAGE STORE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo|Indie+Flower|Nova+Flat|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/welcome.css')}}">
    
    <style type="text/css">

        html{
            height:100%;
            font-size:2em;
        }
        body{
            background: url('static/background/55562470_p0_master1200.jpg');
            background-size:cover;
            background-position: center;
            color:white;
            font-family: 'Indie Flower', cursive;
            font-size:20px;
            padding-bottom: 70px;
        }
        .test{
            text-align: center;
        }

    </style>
    
</head>
<body>

    
<br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('welcome')}}">IMAGE STORE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('link')}}">Link</a></li>
      </ul>
      
     <!--  <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Sign Up</a></li>
               <li><a href="#">Sign In</a></li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">
        <div class="row setblank"></div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4 setbackground">
                <div id="content">
                    <h1>Image Store</h1>
                    <h2>
                        Save your photographs in Image Store and
                        <p>browse them from your device, anywhere</p>
                    </h2>
                    <hr>
                    <a class="btn btn-default btn-lg" href="{{ url_for('signup')}}" role="button">Sign Up</a>
                    <a class="btn btn-default btn-lg" href="{{ url_for('signin')}}" role="button">Sign In</a>
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>

 
  <nav class="navbar navbar-default navbar-fixed-bottom test">
  <div class="container">
     <p>© 2017 Image Store</a></p>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</body>
</html>